
@main("Papers"){

  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6">

        <img src='@routes.Assets.at("images/network.png")' style="padding-bottom: 0;">

      </div>
      <div class="col-lg-6">
        <h1>Research Community Service Platform</h1>
        <p>A data driven service to recommend papers and network collaborators for the research community</p>
        <!-- TODO -->
        <a class="btn btn-lg btn-default" href="/">Get Started &raquo;</a>
      </div>
    </div>
  </div>

}
