
@(publications: List[Publication])

@import helper._

@main("Publications") {

  <h1>@publications.size() Publications</h1>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <td>Title</td>
      <td>Authors</td>
      <td>Keywords</td>
      <td>Tags</td>
      <td>Publication Channel</td>
      @if(session.get("email")){
      <td>Operation</td>
      }
    </tr>

    @for(publication <- publications) {
      <tr id="@publication.getId()" class="publications">
        <td class="publicationTitle">@publication.getTitle()</td>
        <td class="publicationAuthors">@publication.formatStringArray(publication.getAuthors())</td>
        <td class="publicationKeywords">@publication.formatStringArray(publication.getKeywords())</td>
        <td class="publicationTags">@publication.formatStringArray(publication.getCrowdTags())</td>
        <td class="publicationChannel">@publication.getChannelString()</td>

        @if(session.get("email")){
        <td class="operation">
          @if(publication.getChannelString() == "Journal") {
            @form(routes.JournalPublications.updatePage()) {
              <input name="idHolder" type="hidden" value="@publication.getId()">
              <input type="submit" class="btn btn-primary" value="Update">
            }
          }
          @if(publication.getChannelString() == "Conference") {
            @form(routes.ConferencePublications.updatePage()) {
              <input name="idHolder" type="hidden" value="@publication.getId()">
              <input type="submit" class="btn btn-primary" value="Update">
            }
          }
          @if(publication.getChannelString() == "Web Page") {
            @form(routes.WebPagePublications.updatePage()) {
              <input name="idHolder" type="hidden" value="@publication.getId()">
              <input type="submit" class="btn btn-primary" value="Update">
            }
          }
          @if(publication.getChannelString() == "Book") {
            @form(routes.BookPublications.updatePage()) {
              <input name="idHolder" type="hidden" value="@publication.getId()">
              <input type="submit" class="btn btn-primary" value="Update">
            }
          }
          @if(publication.getChannelString() == "Book Chapter") {
            @form(routes.BookChapterPublications.updatePage()) {
              <input name="idHolder" type="hidden" value="@publication.getId()">
              <input type="submit" class="btn btn-primary" value="Update">
            }
          }
          @form(routes.Publications.delete()) {
            <input name="idHolder" type="hidden" value="@publication.getId()">
            <input type="submit"  class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure you want to delete this item?')">
          }
        </td>
        }
      </tr>
    }
  </table>
}
